extends layout

block content
  div
    img(
      class="content-title-img-size" 
      src='https://programmers.co.kr/assets/icons/apple-icon-6eafc2c4c58a21aef692d6e44ce99d41f999c71789f277317532d0a9c6db8976.png'
    )
    span(class="content-title") programmers
  img(
    class="content-sub-img-size"
    src='images/image.png'
  )
  div(class="margin-top-30")
    span(class="font-bold-700 font-size-50") 404. 
    span(class="font-bold-300 font-size-30") Page Not Found
  p(class="font-bold-300 font-color-gray") Sorry. You requested a page not found.